<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681757798375-33gmajr8vr4jtl52aapdscv2iq6l7g08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681757798375-33gmajr8vr4jtl52aapdscv2iq6l7g08</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>681757798375-58s0lfrfl0e5am47k1tud9bhb710rcen.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAB9j04WnpeFFb3oVMyTdCOQ2_m3H0E5Yc</string>
	<key>GCM_SENDER_ID</key>
	<string>681757798375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuramallc.kittyStory</string>
	<key>PROJECT_ID</key>
	<string>kitty-story</string>
	<key>STORAGE_BUCKET</key>
	<string>kitty-story.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681757798375:ios:ba7cd1588a141f5d4cd742</string>
</dict>
</plist>